*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.container{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: red;
}

.button{
    margin-top: 3%;
    height: 60px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin-top: 3%;
}

.side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.result{
    margin-top: 5%;
}

/* ================================= Media Query ==========================*/

@media screen and (max-width: 600px){
   .container{
    margin-top: 6%;
   }
   .result{
    margin-top: 3%;
   }
   button{
    cursor: pointer;
   }
}

